@font-face {
  font-family: "Roboto-Bold";
  src: url("./../scss/fonts/Roboto-Bold.ttf") format("trueType");
}

@font-face {
  font-family: "Roboto-Light";
  src: url("./../scss/fonts/Roboto-Light.ttf") format("trueType");
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("./../scss/fonts/Roboto-Regular.ttf") format("trueType");
}

@font-face {
  font-family: "Roboto-Medium";
  src: url("./../scss/fonts/Roboto-Medium.ttf") format("trueType");
}
